bleak==0.22.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
dbus-fast==2.33.0
idna==3.10
meshtastic==2.5.11
packaging==24.2
protobuf==5.29.3
pycparser==2.22
Pypubsub==4.0.3
pyserial==3.5
PyYAML==6.0.2
pyzmq==26.2.1
requests==2.32.3
setuptools==75.8.0
tabulate==0.9.0
urllib3==2.3.0
wheel==0.45.1
